<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <style>
            #app {
                width: 600px;
                margin: 10px auto;
            }
            .tb {
                border-collapse: collapse;
                width: 100%;
            }
            .tb th {
                background-color: #0094ff;
                color: white;
            }
            .tb td,
            .tb th {
                padding: 5px;
                border: 1px solid black;
                text-align: center;
            }
            .add {
                padding: 5px;
                border: 1px solid black;
                margin-bottom: 10px;
            }
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <div class="add">
                品牌名称
                <input type="text" v-model="itemname" ref="brandname">
                <input type="button" value="添加" @click="addItem()" :disabled="itemname.length===0">
            </div>
            <div class="add">
                品牌名称：
                <input type="text" placeholder="请输入搜素条件" v-model="search">
            </div>
            <div>
                <table class="tb">
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>创立时间</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="(item,index) in matchedItems" :key="index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.time|formatDate}}</td>
                        <td>
                            <a href="#" @click.prevent="deleteItem(index)">删除</a>
                        </td>
                    </tr>
                    <tr v-if="items.length === 0"><td colspan="4">没有品牌数据</td></tr>
                </table>
            </div>
        </div>

        <script src="./vue.js"></script>
        <script src="./moment.js"></script>
        <script src="./axios.min.js"></script>
        <script>
            
            // var items = [{
            //     name:'TCL',
            //     time:new Date()
            // },{
            //     name:'小米',
            //     time:new Date()
            // },{
            //     name:'OPPO',
            //     time:new Date()
            // }];

            var vm = new Vue({
            el:'#app',
            data:{
                //ES6可简写
                items:[],
                itemname:'',
                search:''
            },
            mounted() {
                this.getAllBrands();
                // console.log(this.$refs);
                return this.$refs.brandname.focus();
            },
            methods:{
                getAllBrands(){
                    axios.get('http://localhost:3333/brands').then((res)=>{
                        console.log(res)
                        const {status,data} = res
                        if (status===200) {
                            this.items = res.data
                        }
                    })
                },

                addItem(){
                    ////从头部添加元素
                    // this.items.unshift({
                    //     name:this.itemname,
                    //     time:new Date()
                    // })

                    //从尾部添加元素
                    this.items.push({
                        name:this.itemname,
                        time:new Date()
                    })
                },
                deleteItem(i){
                    if(confirm('Sure?')){
                        this.items.splice(i,1);
                    }
                    
                }
            },
            
            filters:{
                    formatDate(v){
                        return moment(v).format('YYYY-MM-DD hh:mm:ss')
                    }
            },

            directives:{
                focus:{
                    inserted(el){
                        el.focus();
                    }
                }
            },

            computed: {
                matchedItems(){
                    //方法1：ES6新API-startsWith
                    return this.items.filter((item)=>{
                        return item.name.startsWith(this.search); 
                    })


                    // //方法2：遍歷數組
                    // return this.items.forEach(element => {
                    //     if (item.name.startsWith(this.search)){
                    //         return element;
                    //     }
                    // })
                }
            }
        });
        </script>
    </body>
</html>